@use "../core/variables" as variables;

.footer {
  background-color: variables.$primary-color;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 0.5rem;
  width: 100%;

  &__text {
    font-family: variables.$fontfamily-main;
    font-weight: variables.$fontweight-main;
    color: white;
  }
}