@use "../core/variables" as variables;

.header {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  background-color: variables.$primary-color;
  padding: 15px;

  &__title {
    font-family: variables.$fontfamily-header;
    font-weight: variables.$fontweight-header;
    font-size: variables.$fontsize-header;
    color: white;

    @include variables.tablet {
      font-size: 50px;
    }
  }

  &__img {
    width: 160px;
    transition: transform 0.5s ease-in-out;

    @include variables.tablet {
      width: 120px;
    }
  }

  &__img:hover {
    transform: rotate(360deg);
  }
}