$fontfamily-header: "Fascinate Inline", serif;
$fontweight-header: 400;
$fontsize-header: 50px;

$fontfamily-main: "Quicksand", serif;
$fontweight-main: 700;
$fontsize-main: 30px;

$primary-color: #fdb71d;